<footer>
    <div class="container">
        <h2 class="title txt-gradient text-center">GET READY FOR THE NEXT REVOLUTION!</h2>
        <a href="" title="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        <div class="social flex-lc">
            <a href="" title="Discord" class="discord">Discord</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="Youtube" class="youtube">Youtube</a>
        </div>
    </div>
</footer>