<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav flex">
                    <li><a href="/upfront/build/stake" title="Upfront Stake">Upfront Stake</a></li>
                    <li>
                        <a href="javascript:;" title="Trade">Trade</a>
                        <ul class="sub-menu">
                            <li><a href="/upfront/build/swap" title="Swap">Swap</a></li>
                            <li><a href="/upfront/build/liquidity" title="Liquidity">Liquidity</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" title="Governance">Governance</a>
                        <ul class="sub-menu">
                            <li><a href="/upfront/build/vest" title="Vest">Vest</a></li>
                            <li><a href="/upfront/build/vote" title="Vote">Vote</a></li>
                            <li><a href="/upfront/build/bribe" title="Bribe">Bribe</a></li>
                        </ul>
                    </li>
                    <li><a href="/upfront/build/reward" title="Reward">Reward</a></li>
                    <li><a href="" title="DOCS">DOCS</a></li>
                </ul>
            </div>
            <button type="button" class="btn-connect btn-pr txt-md">Connect wallet</button>
        </nav>
    </div>
</header>
