<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <button type="button" class="btn-dapp btn-pr txt-md">Launch DApp</button>
        </nav>
    </div>
</header>
