<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% include "../share/header-dapp.html" %}
{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>

<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-dropdown').on('click',function (){
           $(this).parent().toggleClass('show');
        });


        function copycaddress() {
            var copyText = document.getElementById("valcopy");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
        }
        $('.btn-copy').on('click', function () {
            copycaddress();
        });

        const rangeInputs = document.querySelectorAll('input[type="range"]');
        function handleInputChange(e) {
            let target = e.target
            const min = target.min
            const max = target.max
            const val = target.value
            target.style.backgroundSize = (val - min) * 100 / (max - min) + '% 100%'
        }
        rangeInputs.forEach(input => {
            input.addEventListener('input', handleInputChange);
        });
        
    });
</script>
</body>
</html>