<main>
    <div class="upfront-pages pr">
        <div class="page-layout">
            <div class="box-liquidity">
                <button type="button" class="btn-dropdown flex-center"><i class="icon icon-arrow"></i><span class="txt-gradient txt-md">Add up-usdt Liquidity</span></button>
                <div class="dropdown-content">
                    <div class="flex align-items-start mb-21">
                        <div>
                            <div class="flex-lc mb-1">
                                <div class="token flex-lc">
                                    <div class="token__img flex-lc">
                                        <img src="./assets/img/up.svg" alt="">
                                        <img src="./assets/img/utdt.svg" alt="">
                                    </div>
                                    <div class="token__name txt-md">UP - USDT</div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-active bg-gr ml-auto">Active</button>
                    </div>
                    <div class="bg-r-1 token-list mb-21">
                        <div class="flex">
                            <div class="token flex-lc">
                                <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                <div class="token__name txt-md-r">UP</div>
                            </div>
                            <div class="nav ml-auto">
                                <span class="txt-md-r">N/A</span>
                                <span>N/A</span>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="token flex-lc">
                                <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                <div class="token__name txt-md-r">USDT</div>
                            </div>
                            <div class="nav ml-auto">
                                <span class="txt-md-r">N/A</span>
                                <span>N/A</span>
                            </div>
                        </div>
                        <div class="flex-lc justify-content-between pt-2">
                            <div>Fee Tier</div>
                            <div class="txt-md-r">N/A%</div>
                        </div>
                    </div>
                    <div class="price flex-lc mb-21">
                        <div class="w-full flex-lc mb-21 justify-content-between">
                            <h5 class="txt-xs font-weight-bold">Selected Range</h5>
                            <div class="flex-lc">
                                <span>View prices in</span>
                                <button type="button" class="btn-tranfer txt-md br-gr"><span><i class="icon icon-tranfer"></i> UP</span></button>
                            </div>
                        </div>
                        <div class="price__min bg-r-1 text-center">
                            <h5 class="txt-xs">Min Price</h5>
                            <div class="na txt-md">N/A</div>
                            <span>UP per USDT</span>
                        </div>
                        <div class="price__max bg-r-1 text-center">
                            <h5 class="txt-xs">Max Price</h5>
                            <div class="na txt-md">N/A</div>
                            <span>UP per USDT</span>
                        </div>
                        <div class="price__current w-full mt-20 bg-r-1 text-center">
                            <h5 class="txt-xs">Current Price</h5>
                            <div class="na txt-md">N/A</div>
                            <span>UP per USDT</span>
                        </div>
                    </div>
                    <div class="box-token mb-15">
                        <div class="flex-lc mb-2">
                            <div class="token flex-lc">
                                <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                <div class="token__name txt-md">UP</div>
                                <button type="button" class="btn-copy ml-2"></button>
                            </div>
                            <div class="balance ml-auto">Balance: N/A</div>
                        </div>
                        <div class="bg-r-2">
                            <div class="na txt-lg text-right">N/A</div>
                            <div class="btn-gr flex justify-content-end">
                                <button type="button"><span>25%</span></button>
                                <button type="button"><span>50%</span></button>
                                <button type="button"><span>75%</span></button>
                                <button type="button"><span>MAX</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-token mb-4">
                        <div class="flex-lc mb-2">
                            <div class="token flex-lc">
                                <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                <div class="token__name txt-md">USDT</div>
                            </div>
                            <div class="balance ml-auto">Balance: N/A</div>
                        </div>
                        <div class="bg-r-2">
                            <div class="na txt-lg text-right">N/A</div>
                            <div class="btn-gr flex justify-content-end">
                                <button type="button"><span>25%</span></button>
                                <button type="button"><span>50%</span></button>
                                <button type="button"><span>75%</span></button>
                                <button type="button"><span>MAX</span></button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-sub w-full txt-md">Enter  an  amount</button>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
