<main>
    <div class="upfront-pages pr">
        <div class="page-layout">
            <div class="bribe">
                <div class="header">
                    <h1 class="txt-md text-uppercase mb-2">bribe</h1>
                    <p>Create a bribe to encourage others to vote for your selected pool's rewards distribution.</p>
                </div>
            </div>
            <div class="item item--down p-0">
                <button type="button" class="btn-toggle btn-dropdown flex-center"><i class="icon icon-arrow"></i><span class="txt-gradient txt-md">Create lock</span></button>
                <div class="box-dropdown">
                    <div class="dropdown">
                        <div class="dropdown-content sm">
                            <div class="box-select br-gr mb-21 pr">
                                <div class="select select--dark">
                                    <select name="">
                                        <option>12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="bg-round flex mb-21">
                                <div class="col-left">
                                    <div class="na font-weight-bold">N/A</div>
                                </div>
                                <div class="col-right">
                                    <div class="box-select ml-auto">
                                        <div class="selected flex-lc">
                                            <div class="txt txt-md">USDT</div>
                                            <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                    <div class="balance">Balance: 0</div>
                                </div>
                            </div>
                            <div class="mb-21">
                                You are creating a bribe of NaN BUSD to incentivize Vesters to vote for the / Pool
                            </div>
                            <button type="button" class="btn-pr w-full txt-md">Create Bribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>

    