<main>
    <div class="upfront-pages pr">
        <div class="page-layout">
            <div class="box-liquidity">
                <button type="button" class="btn-dropdown flex-center"><i class="icon icon-arrow"></i><span class="txt-gradient txt-md">Create New Lock</span></button>
                <div class="dropdown-content">
                    <div class="bg-round flex mb-21">
                        <div class="col-left">
                            <div class="na font-weight-bold">N/A</div>
                            <div class="flex-lc mt-2 btn-gr">
                                <button type="button"><span>MAX</span></button>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="box-select ml-auto">
                                <div class="selected flex-lc">
                                    <div class="txt txt-md">USDT</div>
                                    <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="balance">Balance: 0</div>
                        </div>
                    </div>
                    <div class="bg-round mb-10">
                        <div class="na font-weight-bold">27/04/2023</div>
                        <div class="flex-lc mt-2 btn-gr">
                            <div class="box-select box-select--gr pr">
                                <div class="select-gr">
                                    <select name="">
                                        <option value="">Days</option>
                                    </select>
                                </div>
                            </div>
                            <div class="box-select box-select--gr pr">
                                <div class="select-gr">
                                    <select name="">
                                        <option value="">MONTH</option>
                                    </select>
                                </div>
                            </div>
                            <div class="box-select box-select--gr pr">
                                <div class="select-gr">
                                    <select name="">
                                        <option value="">YEAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-radio flex-lc">
                        <h5 class="txt-xs">Expires:</h5>
                        <div class="radio-btn flex-lc ml-auto">
                            <label>
                                1  week
                                <input type="radio" name="expires" checked>
                                <span class="checked"></span>

                            </label>
                            <label>
                                1  month
                                <input type="radio" name="expires">
                                <span class="checked"></span>

                            </label>
                            <label>
                                1  year
                                <input type="radio" name="expires">
                                <span class="checked"></span>

                            </label>
                            <label>
                                4  year
                                <input type="radio" name="expires">
                                <span class="checked"></span>

                            </label>
                        </div>
                    </div>
                    <div class="flex-lc justify-content-between">
                        <div class="w-50">
                            <p>Your voting power will be:</p>
                            <span class="txt-lg-r">N/A ve NFT</span>
                        </div>
                        <div class="w-50">
                            <div class="text-right txt-s text-violet">
                                <p>NaN UP locked expires in 7 days</p>
                                <p>Locked until 2023 / 05 / 04</p>
                            </div>
                        </div>
                    </div>
                    <div class="note my-22">
                        <p>1 UP locked for 4 years = 1.00 veNFT</p>
                        <p>1 UP locked for 3 years = 0.75 veNFT</p>
                        <p>1 UP locked for 2 years = 0.50 veNFT</p>
                        <p>1 UP locked for 1 years = 0.25 veNFT</p>
                    </div>
                    <button type="button" class="btn-pr w-full txt-md">lock</button>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
