<main>
    <div class="upfront-frame1 pr">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text" data-aos="fade-up">
                        <h1><span>Upfront Protocol</span> develops instant upfront staking yield and optimizes decentralized exchange via concentrated liquidity and ve(3,3) mechanism, mainnet on BSC with early scaling plans for Arbitrum and zkSync.</h1>
                    </div>
                    <div class="social flex-lc">
                        <a href="" title="telegram" class="telegram" data-aos="fade-right" data-aos-delay="200">telegram</a>
                        <a href="" title="twitter" class="twitter" data-aos="fade-right" data-aos-delay="400">twitter</a>
                        <a href="" title="Discord" class="discord" data-aos="fade-right" data-aos-delay="600">Discord</a>
                        <a href="" title="Doc" class="doc" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800">Doc</a>
                    </div>
                    <button type="button" class="btn-join btn-pr txt-lg" data-aos="flip-up" data-aos-delay="1000">Join Fair Launch</button>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper pr">
                        <img src="./assets/img/clock.svg" alt="">
                        <div class="clock" data-aos="zoom-in" data-aos-delay="200">
                            <div class="clock__short pa"></div>
                            <div class="clock__long pa"></div>
                        </div>
                        <div class="light" data-aos="fade-down" data-aos-delay="400"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame2">
        <div class="container">
            <div class="item-list bg-gradient flex">
                <div class="item" data-aos="fade-up">
                    <div class="item__img"><img src="./assets/img/clock1.svg" alt=""></div>
                    <div class="item__text txt-xl">Upfront Stake</div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="item__img"><img src="./assets/img/connect.svg" alt=""></div>
                    <div class="item__text txt-xl">Concentrated Liquidity Market Makers</div>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <div class="item__img"><img src="./assets/img/mechanism.svg" alt=""></div>
                    <div class="item__text txt-xl">UpDEX Ve(3,3)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame3">
        <div class="container">
            <div class="header">
                <h2 class="title text-center">What is Upfront Protocol?</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="text txt-lg-r" data-aos="fade-up">With Upfront Protocol, you can receive immediate upfront yield from the future by staking your cryptocurrency, without having to wait. This means you can enjoy the benefits of yield without any delay.</div>
                    <div class="note txt-xl txt-gradient" data-aos="fade-up" data-aos-delay="200">Instant Yield, No Need To Wait.</div>
                    <a href="" title="Learn more" class="btn-pr txt-md" data-aos="flip-up" data-aos-delay="400">Learn more</a>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/bnb.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame4">
        <div class="container">
            <div class="header">
                <h2 class="title text-center">How does Upfront Protocol generate yield</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/machine.svg" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h3 class="txt-xl txt-gradient" data-aos="fade-up">How does Upfront Protocol process upfront yield?</h3>
                        <ul class="list-text txt-md-r" data-aos="fade-up" data-aos-delay="200">
                            <li>The team has staked a portion of their previous funds into high-yielding and stable pools to maintain upfront yield flow.</li>
                            <li>The Treasury Fund is utilized to generate profits from staking and Binance Launchpad, meaning liquidity is used more efficiently while still ensuring stability.</li>
                            <li>A portion of Trading fees from the protocol's decentralized exchange and Trading Tax are used to ensure the protocol's stability.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6" data-aos="fade-right">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon-liquidation.svg" alt=""></div>
                        <h4 class="txt-gradient txt-xl">No Liquidation</h4>
                        <p class="txt-md-r">Your deposits are safe from any potential liquidation risk, regardless of fluctuations in prices or interest rates.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="200">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/hourglass.svg" alt=""></div>
                        <h4 class="txt-gradient txt-xl">Withdraw Anytime</h4>
                        <p class="txt-md-r">You can retrieve your initial investment at any moment by repaying a fraction of the upfront earnings</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="400">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/star.svg" alt=""></div>
                        <h4 class="txt-gradient txt-xl">Instant Reward</h4>
                        <p class="txt-md-r">Instead of waiting for a long period of time, you receive your reward instantly, which can be utilized to optimize profits.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="600">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon-real.svg" alt=""></div>
                        <h4 class="txt-gradient txt-xl">Real Yield</h4>
                        <p class="txt-md-r">The protocol charges a small fee for upfront staking, and additionally, a portion of the trading tax and DEX's fee will be allocated to token holders.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame6">
        <div class="container">
            <div class="header">
                <h2 class="title text-center">Steps To Use The Protocol</h2>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <ul class="step-list">
                        <li>
                            <div class="number">
                                <div class="number__circle flex-center"><span>1</span></div>
                            </div>
                            <div class="text txt-xl txt-gradient">Select crypto you want to stake</div>
                        </li>
                        <li>
                            <div class="number">
                                <div class="number__circle flex-center"><span>2</span></div>
                            </div>
                            <div class="text txt-xl txt-gradient">Select lock duration</div>
                        </li>
                        <li>
                            <div class="number">
                                <div class="number__circle flex-center"><span>3</span></div>
                            </div>
                            <div class="text txt-xl txt-gradient">Receive your yield reward immediately.</div>
                        </li>
                    </ul>
                    <button type="button" class="btn-pr txt-lg flex-center">Launch DApp Now</button>
                </div>
                <div class="col-lg-7">
                    <div class="img-wrapper pr">
                        <img src="./assets/img/step1.svg" class="img img--1" alt="" data-aos="fade-down">
                        <img src="./assets/img/step2.svg" class="img img--2" alt="" data-aos="fade-down" data-aos-delay="300">
                        <img src="./assets/img/step3.svg" class="img img--3" alt="" data-aos="fade-down" data-aos-delay="600">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame7">
        <div class="container">
            <div class="header">
                <h2 class="title text-center">UpDEX - Ultimate Decentralized Exchange</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="chart"><img src="./assets/img/chart.svg" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h3 data-aos="fade-up">A Combination Of Concentrated Liquidity Market Makers (CLMM) & Ve (3,3) Mechanism</h3>
                        <ul class="list-text txt-md-r" data-aos="fade-up" data-aos-delay="200">
                            <li>CLMMs provide more capital-efficient liquidity on a DEX.</li>
                            <li>CLMMs can improve the capital efficiency of DeFi overall.</li>
                            <li>Ve (3,3) are designed to align incentives for farmers, stakers, and protocols to the DEX itself.</li>
                        </ul>
                        <a href="" title="Learn more" class="btn-pr txt-md" data-aos="flip-up" data-aos-delay="500">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upfront-frame8">
        <div class="container">
            <div class="header">
                <h2 class="title text-center">Scalablity of Arbitrum and ZKsync.</h2>
                <p class="txt-lg-r">After a successful launch on BSC, Upfront Protocol will be scaled to two networks, Arbitrum and ZKsync, in order to increase the total value locked for the entire project. The more TVL, the more users will pay attention, resulting in more yield and greater sustainability.</p>
            </div>
            <div class="logo flex-center" data-aos="fade-up">
                <a href="" title=""><img src="./assets/img/binance-white logo.svg" alt=""></a>
                <a href="" title=""><img src="./assets/img/arbitrum.svg" alt=""></a>
                <a href="" title=""><img src="./assets/img/era-dark.svg" alt=""></a>
            </div>
        </div>
    </div>
</main>