<main>
    <div class="upfront-pages pr">
        <div class="page-layout lg">
            <div class="item">
                <button type="button" class="ml-auto d-block"><img src="./assets/img/icon-cback.svg" alt=""></button>
            </div>
            <div class="item">
                <div class="header mt-20-r">
                    <h1 class="txt-xs font-weight-bold mb-2">Your liquidity</h1>
                    <p>List of your liquidity positions</p>
                </div>
                <div class="checkbox">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="">
                        <span class="checked"><span></span></span>
                        Hide closed positions
                    </label>
                </div>
                <div class="liquidity">
                    <div class="not-found flex-center">No liquidity found.</div>
                </div>
            </div>
            <div class="item item--down p-0">
                <button type="button" class="btn-dropdown flex-center"><i class="icon icon-add"></i><span class="txt-gradient txt-md">Add  liquidity</span></button>
                <div class="box-dropdown">
                    <div class="dropdown">
                        <div class="dropdown-content flex">
                            <div class="apr flex-lc w-full mb-3">
                                <p>APR: <span>0%</span></p>
                                <i class="icon icon-question"></i>
                            </div>
                            <div class="col-left">
                                <div class="choose-token mb-21">
                                    <h5 class="mb-10 txt-xs font-weight-bold">CHOOSE TOKEN PAIR</h5>
                                    <div class="flex-lc justify-content-between mb-21">
                                        <div class="select-token">
                                            <div class="selected flex-lc">
                                                <div class="token flex-lc">
                                                    <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                                    <div class="token__name txt-md">USDT</div>
                                                </div>
                                                <div class="arrow ml-auto"></div>
                                            </div>
                                        </div>
                                        <div class="add"><img src="./assets/img/icon-add.svg" width="20" alt=""></div>
                                        <div class="select-token">
                                            <div class="selected flex-lc">
                                                <div class="token flex-lc">
                                                    <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                                    <div class="token__name txt-md">UP</div>
                                                </div>
                                                <div class="arrow ml-auto"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-r-1" style="min-height: 115px;">
                                        <div class="flex-lc">
                                            <span>0.25% fee tier</span>
                                            <button type="button" class="txt-gr font-weight-bold ml-auto">Hide</button>
                                        </div>
                                        <div class="btn-gr btn-gr--lg flex mt-3">
                                            <button type="button"><span>0.01%</span></button>
                                            <button type="button"><span>0.05%</span></button>
                                            <button type="button"><span>0.25%</span></button>
                                            <button type="button"><span>1%</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="deposit">
                                    <h5 class="mb-10 txt-xs font-weight-bold">DEPOSIT AMOUNT</h5>
                                    <div class="box-token mb-21">
                                        <div class="flex-lc mb-2">
                                            <div class="token flex-lc">
                                                <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                                <div class="token__name txt-md">USDT</div>
                                            </div>
                                            <div class="balance ml-auto">Balance: N/A</div>
                                        </div>
                                        <div class="bg-r-2">
                                            <div class="na txt-lg text-right">N/A</div>
                                            <div class="btn-gr flex justify-content-end">
                                                <button type="button"><span>25%</span></button>
                                                <button type="button"><span>50%</span></button>
                                                <button type="button"><span>75%</span></button>
                                                <button type="button"><span>MAX</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-token">
                                        <div class="flex-lc mb-2">
                                            <div class="token flex-lc">
                                                <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                                <div class="token__name txt-md">UP</div>
                                                <button type="button" class="btn-copy ml-2"></button>
                                            </div>
                                            <div class="balance ml-auto">Balance: N/A</div>
                                        </div>
                                        <div class="bg-r-2">
                                            <div class="na txt-lg text-right">N/A</div>
                                            <div class="btn-gr flex justify-content-end">
                                                <button type="button"><span>25%</span></button>
                                                <button type="button"><span>50%</span></button>
                                                <button type="button"><span>75%</span></button>
                                                <button type="button"><span>MAX</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-right">
                                <div class="set-price">
                                    <div class="flex-lc">
                                        <h5 class="txt-xs font-weight-bold mb-0">SET PRICE RANGE</h5>
                                        <div class="flex-lc ml-auto">
                                            <span>View prices in</span>
                                            <button type="button" class="btn-tranfer txt-md br-gr"><span><i class="icon icon-tranfer"></i> UP</span></button>
                                        </div>
                                    </div>
                                    <div class="box-chart">
                                        <div class="text text-center">Current Price: N/A UP per USDT</div>
                                        <div class="chart flex-center"><img src="./assets/img/chart-price.svg" alt=""></div>
                                    </div>
                                    <div class="price flex mb-30">
                                        <div class="price__setting bg-r-1">
                                            <h5 class="txt-xs">Min Price</h5>
                                            <div class="control flex-lc">
                                                <button type="button" class="btn-add-price"></button>
                                                <div class="na txt-md-r">N/A</div>
                                                <button type="button" class="btn-sub-price"></button>
                                            </div>
                                            <div>UP per USDT</div>
                                        </div>
                                        <div class="price__setting bg-r-1">
                                            <h5 class="txt-xs">Max Price</h5>
                                            <div class="control flex-lc">
                                                <button type="button" class="btn-add-price"></button>
                                                <div class="na txt-md-r">N/A</div>
                                                <button type="button" class="btn-sub-price"></button>
                                            </div>
                                            <span>UP per USDT</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-btn">
                                    <button type="button" class="btn-pr txt-md w-full">Full range</button>
                                    <button type="button" class="btn-sub txt-md w-full">Enter  an  amount</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
