<main>
    <div class="upfront-pages pr">
        <div class="page-layout lg">
            <div class="item">
                <button type="button" class="ml-auto d-block"><img src="./assets/img/icon-cback.svg" alt=""></button>
            </div>
            <div class="item">
                <div class="header mt-20-r">
                    <h1 class="txt-xs font-weight-bold mb-2">Your liquidity</h1>
                    <p>List of your liquidity positions</p>
                </div>
                <div class="checkbox">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="">
                        <span class="checked"><span></span></span>
                        Hide closed positions
                    </label>
                </div>
                <div class="liquidity">
                    <div class="liquidity__item flex-lc">
                        <div>
                            <div class="flex-lc mb-2">
                                <div class="token flex-lc">
                                    <div class="token__img flex-lc">
                                        <img src="./assets/img/up.svg" alt="">
                                        <img src="./assets/img/utdt.svg" alt="">
                                    </div>
                                    <div class="token__name txt-md">up - USDT LP</div>
                                </div>
                                <div class="nav txt-md-r">(#N/A)</div>
                                <button type="button" class="br-gr"><span>0.25%</span></button>
                            </div>
                            <div class="flex-lc">
                                <div class="text">Min N/A/ Max N/A UP per USDT</div>
                                <button type="button" class="btn-tranfer"><i class="icon icon-tranfer"></i></button>
                            </div>
                        </div>
                        <button type="button" class="btn-active bg-gr font-weight-bold">Active</button>
                    </div>
                </div>
            </div>
            <div class="item item--down p-0">
                <button type="button" class="btn-dropdown flex-center"><i class="icon icon-add"></i><span class="txt-gradient txt-md">Add  liquidity</span></button>
                <div class="box-dropdown">
                    <div class="dropdown">
                        <div class="dropdown-content">
                            <div class="flex align-items-start mb-21">
                                <div>
                                    <div class="flex-lc mb-2">
                                        <div class="token flex-lc">
                                            <div class="token__img flex-lc">
                                                <img src="./assets/img/up.svg" alt="">
                                                <img src="./assets/img/utdt.svg" alt="">
                                            </div>
                                            <div class="token__name txt-md">UP - USDT LP</div>
                                        </div>
                                        <button type="button" class="btn-active bg-gr ml-2">Active</button>
                                    </div>
                                    <div class="txt">LP # N/A / N/A% fee tier</div>
                                </div>
                                <div class="box-btn box-btn--r flex">
                                    <button type="button" class="btn-pr txt-md" onclick="location.href = '/upfront/build/add-liquidity';">ADD</button>
                                    <button type="button" class="btn-remove br-gr txt-md" onclick="location.href = '/upfront/build/remove-liquidity';"><span>Remove</span></button>
                                </div>
                            </div>
                            <div class="flex align-items-start justify-content-between mb-15">
                                <div class="w-48">
                                    <div class="flex align-items-end mb-2">
                                        <div>
                                            <h5 class="txt-xs font-weight-bold mb-0">Liquidity</h5>
                                            <div class="nav txt-md">$N/A</div>
                                        </div>
                                        <div class="apr flex-lc ml-auto">
                                            <p>APR: <span>0%</span></p>
                                            <i class="icon icon-question"></i>
                                        </div>
                                    </div>
                                    <div class="bg-r-2 token-list">
                                        <div class="flex">
                                            <div class="token flex-lc">
                                                <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                                <div class="token__name txt-md">USDT</div>
                                            </div>
                                            <div class="nav ml-auto">
                                                <span class="txt-md-r">N/A</span>
                                                <span>N/A</span>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div class="token flex-lc">
                                                <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                                <div class="token__name txt-md">up</div>
                                            </div>
                                            <div class="nav ml-auto">
                                                <span class="txt-md-r">N/A</span>
                                                <span>N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-48">
                                    <div class="flex align-items-start mb-2">
                                        <div>
                                            <h5 class="txt-xs font-weight-bold mb-0">Unclaim fees</h5>
                                            <div class="nav txt-md">$N/A</div>
                                        </div>
                                        <button type="button" class="btn-collect btn-pr ml-auto txt-md">Collect</button>
                                    </div>
                                    <div class="bg-r-2 token-list">
                                        <div class="flex">
                                            <div class="token flex-lc">
                                                <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                                <div class="token__name txt-md">USDT</div>
                                            </div>
                                            <div class="nav ml-auto">
                                                <span class="txt-md-r">N/A</span>
                                                <span>N/A</span>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div class="token flex-lc">
                                                <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                                <div class="token__name txt-md">up</div>
                                            </div>
                                            <div class="nav ml-auto">
                                                <span class="txt-md-r">N/A</span>
                                                <span>N/A</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collect flex-lc justify-end">
                                        <p>Collect as WBNB</p>
                                        <label class="switch ml-2 mb-0">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="flex-lc justify-end">
                                        <span>View prices in</span>
                                        <button type="button" class="btn-tranfer txt-md br-gr"><span><i class="icon icon-tranfer"></i> UP</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="price flex-lc mb-21">
                                <div class="price__min bg-r-1 text-center">
                                    <h5 class="txt-xs">Min Price</h5>
                                    <div class="na txt-md">N/A</div>
                                    <span>UP per USDT</span>
                                </div>
                                <button type="button" class="btn-tranfer ml-0"><i class="icon icon-transfer"></i></button>
                                <div class="price__max bg-r-1 text-center">
                                    <h5 class="txt-xs">Max Price</h5>
                                    <div class="na txt-md">N/A</div>
                                    <span>UP per USDT</span>
                                </div>
                                <div class="price__current w-full mt-20 bg-r-1 text-center">
                                    <h5 class="txt-xs">CURRENT PRICE</h5>
                                    <div class="na txt-md">N/A</div>
                                    <span>UP per USDT</span>
                                </div>
                            </div>
                            <div class="flex-center">
                                <button type="button" class="txt-gr font-weight-bold text-center">History</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
