<main>
    <div class="upfront-pages pr">
        <div class="page-layout">
            <div class="box-liquidity">
                <button type="button" class="btn-dropdown flex-center"><i class="icon icon-arrow"></i><span class="txt-gradient txt-md">Remove Up-USDT Liquidity</span></button>
                <div class="dropdown-content">
                    <div class="flex align-items-start mb-21">
                        <div>
                            <div class="flex-lc mb-2">
                                <div class="token flex-lc">
                                    <div class="token__img flex-lc">
                                        <img src="./assets/img/up.svg" alt="">
                                        <img src="./assets/img/utdt.svg" alt="">
                                    </div>
                                    <div class="token__name txt-md">UP - USDT LP</div>
                                </div>
                            </div>
                            <div class="txt"># N/A</div>
                        </div>
                        <div class="ml-auto">
                            <button type="button" class="btn-active bg-gr">Active</button>
                        </div>
                    </div>
                    <div class="mb-21">
                        <h5 class="txt-xs font-weight-bold mb-10">Amount of Liquidity to remove</h5>
                        <div class="bg-br-gr">
                            <div class="content">
                                <div class="txt-md mb-15">N/A%</div>
                                <div class="progress pr mb-21">
                                    <div class="progress__value flex-center" style="width: 80%">N/A</div>
                                </div>
                                <div class="btn-gr btn-gr--lg flex">
                                    <button type="button"><span>25%</span></button>
                                    <button type="button"><span>50%</span></button>
                                    <button type="button"><span>75%</span></button>
                                    <button type="button"><span>Max</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-center mb-10">
                        <i class="icon icon-arrow-down"></i>
                    </div>
                    <div class="mb-10">
                        <h5 class="txt-xs font-weight-bold mb-2">You  will receive</h5>
                        <div class="bg-r-1 token-list mb-10">
                            <div class="flex">
                                <div class="token flex-lc">
                                    <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                    <div class="token__name txt-md-r">Pooled UP</div>
                                </div>
                                <div class="nav ml-auto">
                                    <span class="txt-md-r">N/A</span>
                                    <span>N/A</span>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="token flex-lc">
                                    <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                    <div class="token__name txt-md-r">Pooled USDT</div>
                                </div>
                                <div class="nav ml-auto">
                                    <span class="txt-md-r">N/A</span>
                                    <span>N/A</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-r-1 token-list mb-10">
                            <div class="flex">
                                <div class="token flex-lc">
                                    <div class="token__img"><img src="./assets/img/up.svg" alt=""></div>
                                    <div class="token__name txt-md-r">UP Fee Earned</div>
                                </div>
                                <div class="nav ml-auto">
                                    <span class="txt-md-r">N/A</span>
                                    <span>N/A</span>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="token flex-lc">
                                    <div class="token__img"><img src="./assets/img/utdt.svg" alt=""></div>
                                    <div class="token__name txt-md-r">USDT Fee Earned</div>
                                </div>
                                <div class="nav ml-auto">
                                    <span class="txt-md-r">N/A</span>
                                    <span>N/A</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collect flex-lc">
                        <p>Collect as WBNB</p>
                        <label class="switch ml-2 mb-0">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <button type="button" class="btn-pr w-full txt-md">remove</button>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
