<main>
    <div class="upfront-pages pr">
        <div class="page-layout xl">
            <div class="reward px-32">
                <div class="header">
                    <h1 class="txt-md text-uppercase mb-1">Reward</h1>
                    <p>Choose your veUP and claim your reward.</p>
                </div>
                <div class="flex-lc justify-content-between mb-3">
                    <div class="box-select flex-nowrap flex-lc bg-r-2 my-1">
                        <p>Please select your veNFT:</p>
                        <div class="select pr">
                            <select name="" class="select-min2">
                                <option>123</option>
                                <option>432</option>
                            </select>
                        </div>
                    </div>
                    <div class="note bg-r-2 my-1">Reward are an eslimation that aren’t exact till the supply -> rewardPerToken calculations have run</div>
                    <button type="button" class="btn-pr px-21 my-1 txt-md">Claim all</button>
                </div>
                <div class="box-table box-table--reward">
                    <table>
                        <thead>
                            <tr>
                                <th>Pool</th>
                                <th><div class="flex-lc flex-nowrap"><i class="icon icon-arrow mr-2"></i><span>Your position</span></div></th>
                                <th>You earned</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                            </tr>
                            <tr>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                            </tr>
                            <tr>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-info flex-lc justify-content-end">
                    <div class="page-select flex-lc">
                        <p>Rows per page:</p>
                        <div class="select pr">
                            <select name="">
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="page-show">0-0 of 0</div>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
    