<main class="main-dapp">
    <div class="upfront-pages pr">
        <div class="page-layout">
            <div class="item">
                <button type="button" class="ml-auto d-block btn-hover"><img src="./assets/img/icon-chain.svg" alt=""></button>
            </div>
            <div class="item">
                <h4 class="txt-xs font-weight-bold">1. Select staking amount</h4>
                <div class="bg-round flex">
                    <div class="col-left">
                        <div class="na font-weight-bold">N/A</div>
                        <div class="flex-lc mt-2 btn-gr">
                            <button type="button"><span>25%</span></button>
                            <button type="button"><span>50%</span></button>
                            <button type="button"><span>75%</span></button>
                            <button type="button"><span>MAX</span></button>
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="box-select">
                            <div class="selected flex-lc">
                                <div class="txt txt-md">USDT</div>
                                <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                <div class="arrow"></div>
                            </div>
                            <div class="select-dropdown">
                                <ul class="select-list">
                                    <li data-icon="./assets/img/utdt.svg" data-txt="USDT" class="item-select flex">
                                        <div class="token flex">
                                            <div class="token__img"><img src="./assets/img/utdt.svg" width="30" alt=""></div>
                                            <div class="token__info">
                                                <div class="txt-lg mb-1 text-uppercase">USDT</div>
                                                <div class="balance">Balance: 0</div>
                                            </div>
                                        </div>
                                        <div class="token flex-lc ml-auto">
                                            <div class="token__na txt-lg">N/A% APR</div>
                                            <div class="token__img"><img src="./assets/img/eth.svg" width="39" alt=""></div>
                                        </div>
                                    </li>
                                    <li data-icon="./assets/img/up.svg" data-txt="UP" class="item-select flex">
                                        <div class="token flex">
                                            <div class="token__img"><img src="./assets/img/up.svg" width="30" alt=""></div>
                                            <div class="token__info">
                                                <div class="txt-lg mb-1 text-uppercase">Up</div>
                                                <div class="balance">Balance: 0</div>
                                            </div>
                                        </div>
                                        <div class="token flex-lc ml-auto">
                                            <div class="token__na txt-lg">N/A% APR</div>
                                            <div class="token__img"><img src="./assets/img/eth.svg" width="39" alt=""></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="balance">Balance: 0</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="txt-xs font-weight-bold">2. Select duration</h4>
                <div class="bg-round flex">
                    <div class="col-left">
                        <div class="na font-weight-bold">N/A</div>
                        <div class="flex-lc mt-2 btn-gr">
                            <button type="button"><span>MAX</span></button>
                            <div class="box-select box-select--gr pr">
                                <div class="select-gr">
                                    <select name="">
                                        <option value="">Days</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="txt-xs font-weight-bold">3. Instantly receive</h4>
                <div class="bg-round bg-round--dark flex">
                    <div class="col-left">
                        <div class="na font-weight-bold">N/A</div>
                    </div>
                    <div class="col-right">
                        <div class="box-select">
                            <div class="selected flex-lc">
                                <div class="txt txt-md">USDT</div>
                                <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                <div class="arrow"></div>
                            </div>
                            <div class="select-dropdown">
                                <ul class="select-list">
                                    <li data-icon="./assets/img/utdt.svg" data-txt="USDT" class="item-select flex">
                                        <div class="token flex">
                                            <div class="token__img"><img src="./assets/img/utdt.svg" width="30" alt=""></div>
                                            <div class="token__info">
                                                <div class="txt-lg mb-1 text-uppercase">USDT</div>
                                                <div class="balance">Balance: 0</div>
                                            </div>
                                        </div>
                                        <div class="token flex-lc ml-auto">
                                            <div class="token__na txt-lg">N/A% APR</div>
                                            <div class="token__img"><img src="./assets/img/eth.svg" width="39" alt=""></div>
                                        </div>
                                    </li>
                                    <li data-icon="./assets/img/up.svg" data-txt="UP" class="item-select flex">
                                        <div class="token flex">
                                            <div class="token__img"><img src="./assets/img/up.svg" width="30" alt=""></div>
                                            <div class="token__info">
                                                <div class="txt-lg mb-1 text-uppercase">Up</div>
                                                <div class="balance">Balance: 0</div>
                                            </div>
                                        </div>
                                        <div class="token flex-lc ml-auto">
                                            <div class="token__na txt-lg">N/A% APR</div>
                                            <div class="token__img"><img src="./assets/img/eth.svg" width="39" alt=""></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text text-center mb-0">Amount and duration are needed for time travel</div>
                <div class="box-btn box-btn--50 flex">
                    <button type="button" class="btn-sub txt-md">Approve GLP</button>
                    <button type="button" class="btn-sub txt-md">Upfront stake</button>
                </div>
                <button type="button" class="btn-connect btn-hover">Connect  your wallet  to  stake</button>
            </div>
            <div class="item item--down p-0">
                <button type="button" class="btn-dropdown flex-center"><i class="icon icon-arrow"></i><span class="txt-gradient txt-md">Upfront Stake Dashboard</span></button>
                <div class="box-dropdown">
                    <div class="dropdown">
                        <div style="display: none;" class="nostake">
                            <h5 class="txt-gr font-weight-bold text-center">You have no ongoing stakes</h5>
                            <div class="box-btn box-btn--50 flex">
                                <button type="button" class="btn-sub txt-md">withdraw</button>
                                <button type="button" class="btn-sub txt-md">Transfer  NFT</button>
                            </div>
                        </div>
                        <div class="staked">
                            <h5 class="txt-xs font-weight-bold">Select stake</h5>
                            <div class="select-stake flex-lc">
                                <div class="coin flex-lc">
                                    <div class="icon"><img src="./assets/img/utdt.svg" alt=""></div>
                                    <div class="name txt-md">USDT</div>
                                </div>
                                <div class="na txt-md-r">N/A</div>
                                <div class="nft br-gr"><span>NFT</span></div>
                                <div class="box-select flex-lc pr">
                                    <i class="icon icon-time"></i>
                                    <select name="" class="txt-xs pr">
                                        <option value="">4 hour</option>
                                    </select>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                            
                            <div class="box-progress">
                                <h5 class="txt-gr txt-xs font-weight-bold text-center">Staking Progress</h5>
                                <div class="process pr">
                                    <input class="slider-drag" type="range" id="range" value="1" min="1" max="100">
                                    <div class="na flex-center font-weight-bold txt-xs">N/A</div>
                                </div>
                            </div>
                            <div class="info">
                                <p>Total stake time: <span>1 day</span></p>
                                <p>Start date: <span>14:40 12/04/2023</span></p>
                                <p>End date: <span>14:40 13/04/2023</span></p>
                                <p>Remaining staked balance: <span>9.462 USDT</span></p>
                            </div>
                            <button type="button" class="txt-gr font-weight-bold btn-hover">View on block explorer</button>
                            <div class="box-btn box-btn--50 flex">
                                <button type="button" class="btn-pr txt-md">Unstake  early</button>
                                <button type="button" class="btn-pr txt-md">Transfer  NFT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
<div class="modal upfront-modal fade" id="modal-address">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dimiss="modal"></button>
            <h5 class="txt-xs font-weight-bold">Paste the receiver address</h5>
            <div class="copy flex-lc">
                <input type="text" value="0xF888fa3Ca7321adscnoahrj1c1d..." id="valcopy" size="12">
                <button type="button" class="btn-copy">Copy</button>
            </div>
            <div class="warning text-center">Warning: make sure you paste the right address!</div>
            <button type="button" class="btn-sub flex-center txt-md">Send</button>
        </div>
    </div>
</div>
<div class="modal upfront-modal fade" id="modal-approve">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h5 class="txt-xs font-weight-bold">Amount of staked balance to unstake</h5>
            <div class="bg-round flex-lc">
                <div class="col-left">
                    <div class="progress pr">
                        <div class="progress__value flex-center" style="width: 80%">N/A</div>
                    </div>
                    <div class="flex-lc mt-3 btn-gr">
                        <button type="button"><span>25%</span></button>
                        <button type="button"><span>50%</span></button>
                        <button type="button"><span>75%</span></button>
                        <button type="button"><span>MAX</span></button>
                    </div>
                </div>
                <div class="col-right">
                    <div class="box-select">
                        <div class="selected flex-lc">
                            <div class="txt txt-md">USDT</div>
                            <div class="icon"><img src="./assets/img/icon-question.svg"></div>
                        </div>
                    </div>
                    <div class="balance text-right">Balance: 0</div>
                </div>
            </div>
            <div class="text">
                <p>Deduction amount for early unstake</p>
                <p>N/A USDT</p>
            </div>
            <div class="note text-center">Receive at least N/A USDT</div>
            <button type="button" class="btn-pr flex-center txt-md py-2">approve  usdt</button>
        </div>
    </div>
</div>
