<main class="main-dapp">
    <div class="upfront-pages pr">
        <div class="page-layout">
            <div class="box-tranfer">
                <h1 class="txt-md mb-2">V1</h1>
                <div class="form">
                    <h5 class="txt-xs">From</h5>
                    <div class="bg-r-2 flex">
                        <div class="col-left">
                            <div class="na txt-lg-r font-weight-bold">N/A</div>
                            <div class="flex-lc mt-2 btn-gr">
                                <button type="button"><span>25%</span></button>
                                <button type="button"><span>50%</span></button>
                                <button type="button"><span>75%</span></button>
                                <button type="button"><span>MAX</span></button>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="box-select">
                                <div class="selected flex-lc">
                                    <div class="txt txt-md">USDT</div>
                                    <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="balance">Balance: 0</div>
                        </div>
                    </div>
                </div>
                <div class="flex-center">
                    <button type="button" class="btn-tranfer-h"></button>
                </div>
                <div class="to">
                    <h5 class="txt-xs">To</h5>
                    <div class="bg-r-2 flex-lc">
                        <div class="col-left">
                            <div class="na txt-lg-r font-weight-bold">N/A</div>
                            <div class="flex-lc mt-2 btn-gr">
                                <button type="button"><span>25%</span></button>
                                <button type="button"><span>50%</span></button>
                                <button type="button"><span>75%</span></button>
                                <button type="button"><span>MAX</span></button>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="box-select">
                                <div class="selected flex-lc">
                                    <div class="txt txt-md">USDT</div>
                                    <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                    <div class="arrow"></div>
                                </div>
                            </div>
                            <div class="balance">Balance: 0</div>
                        </div>
                    </div>
                </div>
                <div class="flex-lc my-22">
                    <p>Slippage Tolerance</p>
                    <span class="ml-auto">N/A%</span>
                </div>
                <button type="button" class="btn-sub flex-center txt-md w-full mb-3">Enter an amount</button>
                <button type="button" class="btn-pr flex-center txt-md w-full">SWAp</button>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
    