<main>
    <div class="upfront-pages pr">
        <div class="page-layout xl">
            <div class="vest px-32">
                <div class="header">
                    <h1 class="txt-md text-uppercase mb-1">Vest</h1>
                    <p>Lock UP into veUP to earn and govern. Vote with veUP to earn bribes and trading fees. veUP can be transferred, merged and split. You cand hold multiple positions.</p>
                </div>
                <div class="flex-lc justify-content-between mb-3">
                    <button type="button" class="btn-pr px-21 txt-md">Create lock</button>
                </div>
                <div class="box-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Pair</th>
                                <th>Vest Amount</th>
                                <th>Vest Value</th>
                                <th>Vest Expires</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                            </tr>
                            <tr>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                            </tr>
                            <tr>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span class="txt-md-r">N/A</span></td>
                                <td><span>N/A</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-info flex-lc justify-content-end">
                    <div class="page-select flex-lc">
                        <p>Rows per page:</p>
                        <div class="select pr">
                            <select name="">
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="page-show">0-0 of 0</div>
                </div>
            </div>
            <div class="item item--down p-0">
                <button type="button" class="btn-toggle btn-dropdown flex-center"><i class="icon icon-arrow"></i><span class="txt-gradient txt-md">Create lock</span></button>
                <div class="box-dropdown">
                    <div class="dropdown">
                        <div class="dropdown-content sm">
                            <div class="bg-round flex mb-21">
                                <div class="col-left">
                                    <div class="na font-weight-bold">N/A</div>
                                    <div class="flex-lc mt-2 btn-gr">
                                        <button type="button"><span>MAX</span></button>
                                    </div>
                                </div>
                                <div class="col-right">
                                    <div class="box-select ml-auto">
                                        <div class="selected flex-lc">
                                            <div class="txt txt-md">USDT</div>
                                            <div class="icon"><img src="./assets/img/utdt.svg"></div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                    <div class="balance">Balance: 0</div>
                                </div>
                            </div>
                            <div class="bg-round mb-10">
                                <div class="na font-weight-bold">27/04/2023</div>
                                <div class="flex-lc mt-2 btn-gr">
                                    <div class="box-select box-select--gr pr">
                                        <div class="select-gr">
                                            <select name="">
                                                <option value="">Days</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-select box-select--gr pr">
                                        <div class="select-gr">
                                            <select name="">
                                                <option value="">MONTH</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-select box-select--gr pr">
                                        <div class="select-gr">
                                            <select name="">
                                                <option value="">YEAR</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-radio flex-lc">
                                <h5 class="txt-xs">Expires:</h5>
                                <div class="radio-btn flex-lc ml-auto">
                                    <label>
                                        1  week
                                        <input type="radio" name="expires" checked>
                                        <span class="checked"></span>
                                    
                                    </label>
                                    <label>
                                        1  month
                                        <input type="radio" name="expires">
                                        <span class="checked"></span>
                                        
                                    </label>
                                    <label>
                                        1  year
                                        <input type="radio" name="expires">
                                        <span class="checked"></span>
                                        
                                    </label>
                                    <label>
                                        4  year
                                        <input type="radio" name="expires">
                                        <span class="checked"></span>
                                        
                                    </label>
                                </div>
                            </div>
                            <div class="flex-lc justify-content-between">
                                <div class="w-50">
                                    <p>Your voting power will be:</p>
                                    <span class="txt-lg-r">N/A ve NFT</span>
                                </div>
                                <div class="w-50">
                                    <div class="text-right txt-s text-violet">
                                        <p>NaN UP locked expires in 7 days</p>
                                        <p>Locked until 2023 / 05 / 04</p>
                                    </div>
                                </div>
                            </div>
                            <div class="note my-22">
                                <p>1 UP locked for 4 years = 1.00 veNFT</p>
                                <p>1 UP locked for 3 years = 0.75 veNFT</p>
                                <p>1 UP locked for 2 years = 0.50 veNFT</p>
                                <p>1 UP locked for 1 years = 0.25 veNFT</p>
                            </div>
                            <button type="button" class="btn-pr w-full txt-md">lock</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
        