<main>
    <div class="upfront-pages pr">
        <div class="page-layout xl">
            <div class="vote px-32">
                <div class="header flex-lc">
                    <div class="w-70">
                        <h1 class="txt-md text-uppercase mb-1">Vote</h1>
                        <p>Select your veNFT and use 100% of your votes for one or more pools to earn bribes and trading fees.</p>
                    </div>
                    <div class="ml-auto text-right w-30">
                        <h5 class="txt-xs mb-0">Epoch timer</h5>
                        <span class="txt-md-r">6d 16h 29m</span>
                    </div>
                </div>
                <div class="flex-lc justify-content-between mb-3">
                    <div class="box-search my-1 pr">
                        <input type="text" name="">
                    </div>
                    <div class="box-select flex-nowrap flex-lc bg-r-2 my-1">
                        <p>Please select your veNFT:</p>
                        <div class="select pr">
                            <select name="" class="select-min2">
                                <option>123</option>
                                <option>432</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-table box-table--vote">
                    <table>
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>My Stake</th>
                                <th>Total Liquidity</th>
                                <th>Voting APR</th>
                                <th><div class="flex-lc justify-content-end"><i class="icon icon-arrow mr-2"></i><span>Total Votes</span></div></th>
                                <th>Bribes</th>
                                <th>My Vote</th>
                                <th>My Vote %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="token">
                                        <div class="token__img">
                                            <img src="./assets/img/up.svg" alt="">
                                            <img src="./assets/img/utdt.svg" alt="">
                                        </div>
                                        <div class="token__name">
                                            <p class="font-weight-bold">USDT/UP</p>
                                            <p><span>Volatile Pool</span></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td><p class="text-right"><b>N/A%</b></p></td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    
                                    <p class="text-right"><b>N/A</b> <span>ETH</span></p>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <div class="box-process pr">
                                        <input class="slider-drag" type="range" id="range" value="0" max="30">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token">
                                        <div class="token__img">
                                            <img src="./assets/img/up.svg" alt="">
                                            <img src="./assets/img/utdt.svg" alt="">
                                        </div>
                                        <div class="token__name">
                                            <p class="font-weight-bold">USDT/UP</p>
                                            <p><span>Volatile Pool</span></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td><p class="text-right"><b>N/A%</b></p></td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    
                                    <p class="text-right"><b>N/A</b> <span>ETH</span></p>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <div class="box-process pr">
                                        <input class="slider-drag" type="range" id="range" value="0" max="30">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token">
                                        <div class="token__img">
                                            <img src="./assets/img/up.svg" alt="">
                                            <img src="./assets/img/utdt.svg" alt="">
                                        </div>
                                        <div class="token__name">
                                            <p class="font-weight-bold">USDT/UP</p>
                                            <p><span>Volatile Pool</span></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td><p class="text-right"><b>N/A%</b></p></td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    
                                    <p class="text-right"><b>N/A</b> <span>ETH</span></p>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <div class="box-process pr">
                                        <input class="slider-drag" type="range" id="range" value="0" max="30">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="token">
                                        <div class="token__img">
                                            <img src="./assets/img/up.svg" alt="">
                                            <img src="./assets/img/utdt.svg" alt="">
                                        </div>
                                        <div class="token__name">
                                            <p class="font-weight-bold">USDT/UP</p>
                                            <p><span>Volatile Pool</span></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    <p class="text-right"><b>N/A</b> <span>UP</span></p>
                                </td>
                                <td><p class="text-right"><b>N/A%</b></p></td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                    
                                    <p class="text-right"><b>N/A</b> <span>ETH</span></p>
                                    <p class="text-right"><b>N/A</b> <span>USDT</span></p>
                                </td>
                                <td>
                                    <p class="text-right"><b>N/A</b></p>
                                    <p class="text-right"><span>N/A%</span></p>
                                </td>
                                <td>
                                    <div class="box-process pr">
                                        <input class="slider-drag" type="range" id="range" value="0" max="30">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-info flex-lc justify-content-end">
                    <div class="page-select flex-lc">
                        <p>Rows per page:</p>
                        <div class="select pr">
                            <select name="">
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="page-show">0-0 of 0</div>
                </div>
            </div>
        </div>
        <div class="box-vote flex-lc">
            <h5 class="txt-lg-r mb-0">Voting Power Used: <span>0 %</span></h5>
            <button type="button" class="btn-pr txt-md ml-auto">Cast votes</button>
        </div>
        <div class="social flex-center">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
            <a href="" title="discord" class="discord">discord</a>
        </div>
    </div>
</main>
            