:root{
  --orange: #FF6E40;
  --black: #140000;
  --violet: #BF5EFF;
}
body{
  background: #161037;
  font-family: 'Blinker', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}


body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin after-btn{
  content: "";
  width: calc(100% + 2px); height: 100%;
  border-radius: 4px;
  background: linear-gradient(#d2d2d2, rgba(#d2d2d2,0));
  position: absolute; top: -1px; left: -1px; z-index: -1;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #000;
  position: fixed; z-index: 9;
  &.scroll{}
  .navbar-toggle{display: none;}
  .btn-pr{padding: 0 25px; margin-left: auto;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 14px 0;
  border-radius: 0; border: none;
  .logo{width: 228px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: center;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 70px; align-items: center;
  >*+*{margin-left: 10px;}
  li{position: relative;}
  li a{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    background: linear-gradient(90deg, #DFAFFF 0%, #4A93FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  > li > a{
    display: block; min-width: 142px;
    padding: 14px 0;
    text-align: center;
  }
  > li:hover .sub-menu{opacity: 1; visibility: visible;}
   li:hover > a,.active{
    background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sub-menu{
    padding: 1px;
    background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
    border-radius: 9px;
    position: absolute; left: 20px;
    opacity: 0; visibility: hidden; transition: .3s;
    li{background: #000; padding: 10px 20px;}
    li:first-child{padding-top: 20px; border-radius: 9px 9px 0 0;}
    li:last-child{padding-bottom: 20px; border-radius: 0 0 9px 9px;}
    li a{padding: 10px 0;}
  }
}
//main
main{min-height: 78vh; padding-top: 80px;}
.upfront-frame1{
  padding: 169px 0 125px;
  &::after{
    content: "";
    width: 100%; height: 923px;
    background: url("#{$img-path}/clip-path.svg") no-repeat 50% 0;
    position: absolute; left: 0; bottom: 0; z-index: -1;
    animation: flash 1.5s infinite linear;
  }
  .img-wrapper{
    margin-right: -30px;
    .light{
      width: 892px; height: 455px;
      background: url("#{$img-path}/light.svg") no-repeat 0 0/contain;
      position: absolute; top: 225px; left: -32px; z-index: -1;
      animation: light 1.2s infinite linear;
    }
    img{display: block; margin: 0 0 0 auto; animation: flash-clock 1s infinite linear;}
  }
  .text{
    max-width: 624px;
    padding-top: 25px;
    margin-bottom: 40px;
    font-size: 36px; line-height: 44px;
    background: linear-gradient(90deg, #DFAFFF 0%, #4A93FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    h1{font-size: inherit;}
    span{font: 32px/42px 'Russo One', sans-serif;}
  }
  .social{
    margin-bottom: 65px;
    >*+*{margin-left: 50px;}
    a{height: 30px;}
    .twitter{width: 37px;}
    .telegram{width: 37px;}
    .discord{width: 41px;}
    .doc{width: 24px;}
  }
  .clock{
    width: 295px; height: 295px;
    border-radius: 50%;
    position: absolute; top: 140px; left: 220px;
    &__short,&__long{transform-origin: bottom left;}
    &__short{width: 103px; height: 103px; background: url("#{$img-path}/line1.png") no-repeat 0 0/contain; top: 50px; left: 145px; animation: rotate 12s infinite linear;}
    &__long{width: 102px; height: 102px; background: url("#{$img-path}/line.svg") no-repeat 0 0/contain; top: 49px; left: 145px; animation: rotate 1s infinite linear;}
  }
  .btn-join{padding: 18px 25px; height: auto;}
}
.upfront-frame2{
  padding: 114px 0 121px;
  .bg-gradient{padding: 62px 12px;}
  .item-list{justify-content: space-between;}
  .item{
    width: 33.3%; max-width: 382px;
    &__img{
      margin-bottom: 50px;
      img{display: block; margin: 0 auto;}
    }
    &__text{color: #fff; text-align: center;}
  }
}
.upfront-frame3{
  padding-bottom: 130px;
  .header{margin-bottom: 80px;}
  .text{max-width: 546px;}
  .note{margin: 25px 0; font-family: 'Russo One', sans-serif;}
  .img-wrapper{
    img{display: block; margin-left: auto;}
  }
  .btn-pr{padding: 8px 28.6px;}
}
.upfront-frame4{
  padding: 90px 0 108px;
  background: linear-gradient(90deg, rgba(#161037,.1) 0%, rgba(#3415E8,.1) 100%);
  .header{max-width: 783px; margin: 0 auto 60px;}
  h3{margin-bottom: 25px;}
  .content{padding-top: 22px;}
  .img-wrapper{
    padding-right: 18px; animation: flash 1.5s infinite linear;
    img{display: block; margin-left: auto;}
  }
}
.upfront-frame5{
  padding: 114px 0 131px;
  .row{margin: 0 -10px;}
  .col-md-3{padding: 0 10px;}
  .item{
    height: 100%;
    padding: 60px 24px 44px;
    background: linear-gradient(90deg, rgba(161, 66, 234, 0.3) 0%, rgba(52, 21, 232, 0.3) 100%);
    border-radius: 9px;
    .icon{width: 115px; margin-bottom: 25px;}
  }
  h4{margin-bottom: 15px;}
}
.upfront-frame6{
  padding-bottom: 185px;
  .header{margin-bottom: 38px;}
  ul{
    >*+*::before{
      content: "";
      width: 2px; height: 70px;
      background: linear-gradient(to top, #DFAFFF, #4A93FF);
      position: absolute; left: 50px; top: -35px;
    }
  }
  li{display: flex; align-items: center; padding: 35px 0; position: relative;}
  .number{
    width: 102px; height: 102px;
    border-radius: 50%;
    padding: 2px;
    font:italic 900 72px/82px 'Montserrat', sans-serif;
    background: linear-gradient(to right, #DFAFFF, #4A93FF);
    &__circle{background: #161037; border-radius: 50%; width: 100%; height: 100%;}
    span{
      background: linear-gradient(90deg, #DFAFFF 0%, #4A93FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .text{flex: 1; padding: 0 22px 0 40px;}
  .btn-pr{width: 416px; max-width: 100%; margin-top: 40px; height: 60px;}
  .img-wrapper{
    max-width: 100%; width: 708px; margin: 30px 0 0 auto;
    .img{
      position: absolute;
      &--1{width: 262px;}
      &--2{width: 485px; left: 132px; top: 200px;}
      &--3{width: 212px; right: 0; top: 24px;}
    }
  }
}
.upfront-frame7{
  padding: 82px 0 73px;
  background: linear-gradient(90deg, rgba(#161037,.2) 0%, rgba(#3415E8,.2) 100%);
  h3{margin-bottom: 35px; font-size: 30px; line-height: 40px;}
  .header{margin-bottom: 53px;}
  .btn-pr{margin-top: 35px; padding: 8px 28.6px;}
}
.upfront-frame8{
  padding: 104px 0 97px;
  .header{
    h2.title{margin-bottom: 25px;}
    max-width: 1111px; margin: 0 auto 72px;
    text-align: center;
  }
  .logo{
    a{display: block; margin: 0 51px;}
  }
}

.upfront-pages{
  min-height: 890px; padding: 50px 16px;
  &::after,&::before{content: ""; width: 100%; position: fixed; z-index: -1;}
  &::after{
    content: "";
    height: vw(923px);
    background: url("#{$img-path}/bg-dapp-1.svg") no-repeat 50% 0;
    background-size: cover;
    bottom: 0; left: 0;
  }
  &::before{
    height: 436px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    top: 70px; left: 0;
  }
  .page-layout{
    max-width: 465px;
    margin: 0 auto;
    padding: 15px 0 1px;
    background: #1A133F;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &.lg{
      max-width: 950px; padding: 32px 0 1px;
      .item{padding: 0 32px;}
      .item--down{padding: 0;}
    }
    &.xl{
      max-width: 1110px; padding: 32px 0 1px;
    }
  }
  .show{
    .box-dropdown{max-height: inherit; margin-top: -21px;}
    .btn-dropdown{
      .icon{transform: rotate(180deg);}
      .icon-add{
        width: 11px; height: 13px;
        background: url('#{$img-path}/arrow-up.svg') no-repeat;
        transform: rotate(180deg);
      }
    }
  }
  .box-dropdown{max-height: 0;overflow: hidden;}
  .dropdown{
    width: calc(100% - 4px);
    margin: 0 auto;
    background: #0A0527;
    border-radius: 0px 0px 20px 20px;
    padding: 25px 1px 40px;
  }
  .item{
    margin-bottom: 13px;
    padding: 0 40px;
    &:nth-child(1){margin-bottom: 0;}
    &--down{padding: 0; margin-bottom: 0;}
  }
  .header{
    margin-bottom: 24px;
    h4{margin: 0 0 8px;}
  }
  .nostake{
    h5{margin-bottom: 22px; font-size: 14px; line-height: 20px;}
  }
  .staked{
    padding: 12px 39px 0;
    h5{margin-bottom: 3px;}
    .icon-time{width: 15px; height: 15px; background: url("#{$img-path}/icon-clock.svg") no-repeat;}
    .box-select{
      flex-wrap: nowrap;
      margin-left: auto;
      padding: 9px 13px;
      background: #30285C;
      border-radius: 9px;
    }
    select{
      -webkit-appearance: none;
      padding: 0 26px 0 7px;
      background: none;
      border: none;
      font-weight: 700;
      color: #fff;
      option{color: #000;}
      &:focus{outline: none;}
    }
    .arrow{
      width: 11px; height: 7px;
      margin-left: -12px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
    }
    .box-btn{margin-top: 24px; justify-content: space-between;}
  }
  .select-stake{
    background: #28214E;
    border-radius: 9999px;
    padding: 13px 19px;
    .coin{
      .icon{width: 30px;}
      .name{padding-left: 13px;}
    }
    .na{padding: 0 8px;}
  }
  .set-price{margin-top: -5px;}
  .col-right{margin-left: auto;}
  h4{margin: 0 0 3px 12px; color: #fff;}
  .text{padding: 10px 0 23px; line-height: 20px;}
  .bg-round{
    padding: 10px 17px;
    background: rgba(#28214E,.4);
    border-radius: 20px;
    &--dark{background: #0A0527; padding: 21px 17px;}
    .na{font-size: 24px; line-height: 36px;}
  }
  .box-select .selected{padding: 6.5px 24px 6.5px 13px; min-height: 43px; cursor: pointer;}
  .select-token .selected{padding: 5px 12px; position: relative;}
  .selected{
    background: #30285C;
    border-radius: 9px;
    color: #fff;
    position: relative;
    .txt{letter-spacing: -0.015em;}
    .icon{width: 30px; margin: 0 13px;}
    .icon img{width: 100%;}
    .arrow{
      width: 11px; height: 7px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
      position: absolute; right: 13px;
    }
  }
  .balance{margin-top: 5px; line-height: 20px; text-align: right;}
  .box-btn{
    justify-content: center;
    &--50{
      button{width: 47%;}
    }
    &--r{
      margin-left: auto;
      >*+*{margin-left: 10px;}
      button{border-radius: 3px; width: 122px;}
      button span{border-radius: 3px; height: 100%; line-height: 38px;}
    }
    .btn-sub,a{
      width: 163px;
      margin: 0 6px;
    }
  }
  .btn-connect{
    width: 100%;
    margin: 26px 0 7px;
    text-align: center;
    font-weight: 700;
    line-height: 20px;
    background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-dropdown{
    width: calc(100% - 4px); height: 88px; margin: 0 auto;
    background: url("#{$img-path}/bg-dapp-bt.svg") no-repeat 50% 0/contain;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    position: relative;
    .icon-arrow{
      width: 11px; height: 13px;
      margin-right: 8px;
      background: url("#{$img-path}/arrow-up.svg") no-repeat 0 0/contain;
    }
    .icon-add{
      width: 15px; height: 15px;
      margin-right: 7px;
      background: url("#{$img-path}/icon-add.svg") no-repeat 0 0/contain;
    }
    &::after{
      content: "";
      width: calc(100% - 0px); height: 19px;
      border-radius: 0 0 20px 20px;
      background: #0a0527;
      position: absolute; bottom: 0; left: 0;
    }
  }
  .social{
    margin-top: 40px;
    a{height: 20px; margin: 0 10px;}
    .telegram,.twitter{width: 25px;}
    .discord{width: 27px;}
  }
  .box-progress{
    margin-top: 28px;
    h5{margin-bottom: 10px;}
  }
  .info{
    padding: 28px 0 9px;
    line-height: 20px;
    span{color: #5E36FF;}
  }
  .bribe{padding: 20px 32px;}
  .txt-lg-r{font-size: 24px; line-height: 32px;}
  .txt-md-r{font-size: 20px; line-height: 30px;}
  .txt-md{font-size: 20px; line-height: 24px;}
}
.liquidity{
  padding: 35px 0 40px;
  >*+*{margin-top: 20px;}
  &__item{
    background: #28214E;
    border-radius: 20px;
    padding: 15px 20px;
  }
  .token{
    img{width: 25px; margin-right: 5px; border-radius: 50%;}
  }
  .text{padding: 0;}
  .nav{margin: 0 6px;}
  .not-found{
    min-height: 84px;
    background: #28214E;
    border-radius: 20px;
  }
  .btn-tranfer .icon{width: 17px; height: 12px; margin-left: 9px;}
  .btn-active{padding: 0 9px; margin-left: auto;}
}
.box-tranfer{
  padding: 20px 42px 45px;
  h5{margin-bottom: 3px;}
  .to,.form{
    .bg-r-2{padding: 12px 18px 8px;}
  }
  .btn-pr{height: 40px;}
}
.reward,.vote{
  .header{margin-bottom: 15px;}
  .bg-r-2{border-radius: 9px;}
  .box-select{
    padding: 0;
    p{padding: 0 23px;}
    select{width: 242px; height: 45px;}
    .select::after{right: 17px; top: 19px;}
  }
}
.reward{
  .page-info{padding: 13px 0 40px;}
  .note{width: 52%;}
}
.vote{
  .page-info{padding: 17px 0 21px;}
}
.vest{
  .page-info{padding: 13px 0 17px;}
}
.box-radio{
  margin-bottom: 17px;
  h5{margin-bottom: 0; color: #7A778D;}
  label{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 0;
    color: #7A778D;
  }
  input{position: absolute; opacity: 0;}
  input:checked + .checked::after{opacity: 1;}
  .checked{
    width: 16px; height: 16px;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 4px;
    position: relative;
    &::after{
      content: "";
      width: 10px; height: 10px;
      border-radius: 50%;
      background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
      position: absolute; top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
    }
  }
}
.box-table{
  overflow: auto;
  &::-webkit-scrollbar{height: 2px;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
  &::-webkit-scrollbar-track{background: #888;}
  &--reward{
    tbody{
      tr td:nth-child(2){padding-left: 42px;}
    }
    th{
      &:nth-child(3),&:nth-child(4){text-align: right;}
    }
    tr{
      td:nth-child(3),td:nth-child(4){text-align: right;}
    }
  }
  &--vote{
    th{text-align: right;}
    th:first-child{text-align: left;}
    tr:nth-child(even) td{background: rgba(40, 33, 78, 0.2);}
  }
  table{width: 100%;}
  th{
    border-bottom: 4px solid #1a133f;
    span{flex: 1;}
    &:last-child{text-align: right;}
    &:nth-child(1){border-radius: 9px 0 0 9px;}
    &:last-child{border-radius: 0 9px 9px 0;}
  }
  tbody{
    tr:first-child{
      td:first-child{border-radius: 9px 0 0 0;}
      td:last-child{border-radius: 0 9px 0 0;}
    }
    tr:last-child{
      td:first-child{border-radius: 0 0 0 9px;}
      td:last-child{border-radius: 0 0 9px 0;}
    }
    tr td:last-child{text-align: right;}
  }
  td,th{
    padding: 11px 22px; background: #0A0527;
  }
  p span{color: #7A778D; font-size: 14px; line-height: 20px;}
  .token{
    display: flex; align-items: flex-start;
    &__img{display: flex;}
    &__name{padding-left: 3px;}
    img{width: 25px; margin-right: 6px;}
  }
  .progress{height: 12px;}
}
.dropdown-content{
  justify-content: space-between;
  padding: 5px 32px 0;
  &.sm{max-width: 445px; margin: 0 auto; padding-top: 25px;}
  .col-left,.col-right{width: 48%;}
  .col-right{display: flex; flex-direction: column;}
  .apr{
    justify-content: flex-end;
    span{color: var(--violet);}
    .icon-question{
      width: 20px; height: 20px;
      margin-left: 16px;
      background: url("#{$img-path}/icon-question1.svg") no-repeat;
    }
  }
  .box-token{
    .na{margin-bottom: 20px; line-height: 36px;}
  }
  .token{
    &__img{
      margin-right: 6px;
      >*+*{margin-left: 5px;}
    }
    img{width: 25px; border-radius: 50%;}
  }
  .token-list{
    padding: 16px 18px;
    >*+*{margin-top: 11px;}
    .nav span:nth-child(1){margin-bottom: -5px;}
  }
  .collect{margin: 12px 0 20px;}
  .select-token{width: 45%;}
  
  .add{margin: 0 1.5%;}
  .box-chart{
    margin: 0 0 40px;
    .text{padding: 20px 0;}
  }
  .nav{
    display: block;
    span{display: block; text-align: right;}
  }
  .note{
    font-size: 12px;
    line-height: 20px;
    color: #7A778D;
  }
  .btn-active{padding: 0 9px;}
  .btn-tranfer{
    margin-left: 11px; border-radius: 9px;
    span{display: flex; align-items: center; padding: 3px 9px; background: #0a0527; border-radius: 9px;}
    .icon-tranfer{width: 25px; height: 19px; margin-right: 6px;}
  }
  .btn-collect{width: 122px;}
  .box-btn{
    .btn-sub{margin: 22px 0 0;}
  }
}
.box-liquidity{
  padding-top: 22px;
  .dropdown-content{margin-top: -20px; background: #0A0527; padding: 32px 28px; border-radius: 0 0 20px 20px;}
  .btn-dropdown{
    &::after{display: none;}
    .icon-arrow{transform: rotate(180deg);}
  }
  .btn-gr--lg{
    button{line-height: 33px; font-size: 20px; border-radius: 15px;}
    button span{border-radius: 15px; padding: 1px 19px; background: #0a0527;}
  }
  .token{
    &__name{padding-left: 4px; text-transform: none;}
  }
  .token-list{
    padding: 10px 18px;
    > *+*{margin-top: 5px;}
  }
  .collect{margin: 11px 0;}
  .price{
    &__min,&__max{width: 47.7%;}
  }
}
.price{
  justify-content: space-between;
  &__setting{
    width: 48%;
    padding: 13px 9px;
    margin-bottom: 12px;
    text-align: center;
  }
  &__min,&__max{width: 41%;}
  h5{margin-bottom: 0;}
  .na{margin: 6px 0 3px; color: #BF5EFF;}
  .control{
    margin: 10px 0; justify-content: space-between;
    .na{margin: 0; color: #fff;}
  }
  .btn-add-price,.btn-sub-price{
    width: 20px; height: 21px;
    &:hover{@include hover;}
  }
  .btn-add-price{background: url("#{$img-path}/icon-add-2.svg") no-repeat;}
  .btn-sub-price{background: url("#{$img-path}/icon-subtract.svg") no-repeat;}
}
.token{
  &__name{text-transform: uppercase;}
  img{border-radius: 50%;}
}
.box-search{
  width: 57%;
  background: #28214E url("#{$img-path}/icon-search.svg") no-repeat 13px center; border-radius: 9px;
  input{
    height: 43px; width: 100%;
    padding-left: 50px;
    background: none; border: none; color: #fff;
    &:focus{outline: none;}
  }
}
.box-vote{
  max-width: 626px;
  margin: 29px auto 0;
  padding: 24px 60px;
  background: #28214E;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  h5 span{color: var(--violet);}
  .btn-pr{width: 189px;}
}
.box-select{
  position: relative;
  &.show{
    .select-dropdown{opacity: 1; visibility: visible; z-index: 9;}
    .selected .arrow{transform: rotate(180deg);}
  }
}
.select-dropdown{
  width: 360px;
  margin-top: 5px;
  background: linear-gradient(90deg, #8300DA 0%, #2500B9 100%);
  border-radius: 9px;
  padding: 1px;
  position: absolute; left: 0; opacity: 0; visibility: hidden; transition: .3s; z-index: -1;
  .select-list{background: #000000; border-radius: 9px; padding: 15px 0;}
  .item-select{
    padding: 9px 20px; align-items: flex-start; cursor: pointer;
    &:hover{background: #30285C;}
  }
  .token{
    &__info{padding-left: 13px;}
    &__na{color: #FF63CE; padding-right: 12px;}
    .balance{margin-top: -5px;}
  }
}

.page-select{
  margin-right: 66px;
  p{margin-right: 7px;}
  .select::after{top: 9px; right: 9px;}
}

.btn-gr{
  >*+*{margin-left: 6px;}
  button{
    background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
    border-radius: 9999px;
    padding: 1px;
    color: #fff;
    line-height: 20px; font-weight: 700;
    &:hover span{background: none;}
    span{display: block; padding: 0 9px; border-radius: 9999px; background: #28214e; text-transform: uppercase; transition: .2s;}
  }
  &--lg{
    >*+*{margin-left: 15px;}
    button{
      line-height: 36px; border-radius: 9px; font-size: 24px;
      span{border-radius: 9px; padding: 1px 15px;}
    }
  }
}
.br-gr{
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  border-radius: 9999px;
  padding: 1px;
  color: #fff;
  font-size: 14px; line-height: 18px; font-weight: 700;
  span{display: block; padding: 0 7px; border-radius: 9999px; background: #28214e;}
}
.bg-br-gr{
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  .content{background: #0A0527; padding: 16px 23px 23px; border-radius: 20px;}
}
.box-select--gr{
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  border-radius: 9999px;
  padding: 1px;
  .select-gr{
    height: 20px; min-width: 69px; padding-right: 15px; border-radius: 9999px; background: #28214e;
    &::after{
      content: "";
      width: 11px; height: 7px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
      position: absolute; top: 7.5px; right: 7px;
    }
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0 15px 0 7px;
    border: none; background: none;
    color: #fff; font-weight: 700; font-size: 14px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    option{color: #000;}
    &:focus{outline: none;}
  }
}
.progress{
  height: 21px;
  background: #28214E;
  border-radius: 9999px;
  &__value{
    height: 100%;
    border-radius: 9999px;
    background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
    position: absolute; left: 0; top: 0;
    font-size: 14px;
    font-weight: 700;
  }
}
.checkbox{
  input{position: absolute; left: 0; opacity: 0;}
  label{margin-bottom: 0; color: #fff; font-weight: 400;}
  .checked{
    display: block;
    padding: 1px;
    width: 20px; height: 20px; border-radius: 5px;
    margin-right: 7px;
    background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
    span{display: block; width: 100%; height: 100%; background: #1A133F; border-radius: 5px; position: relative;}
  }
  input:checked + .checked{
    span{background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);}
    span::before{
      content: "";
      width: 15px; height: 10px;
      background: url("#{$img-path}/icon-check.svg") no-repeat 0 0/contain;
      position: absolute; top: 4px; left: 2px;
    }
  }
}

.upfront-modal{
  .modal-dialog{max-width: 381px; margin: 3rem auto;}
  .modal-content{
    padding: 25px 21px;
    background: #1A133F;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #5E36FF;
  }
  .copy{
    padding: 11px 15px;
    background: #28214E;
    border-radius: 20px;
    input{
      width: calc(100% - 15px);
      padding-right: 12px;
      background: none; border: none;
      font-size: 20px; line-height: 30px; color: #fff;
      &:focus{outline: none;}
    }
  }
  .warning{
    padding: 13px 0;
    color: #BF5EFF;
    line-height: 20px;
  }
  .bg-round{
    background: #28214E;
    border-radius: 20px;
    padding: 12px 12px 8px;
  }
  .col-right{
    margin-left: auto;
    padding-left: 10px;
  }
  .selected{
    background: #30285C;
    border-radius: 9px;
    padding: 4px 8px 4px 10px;
    .icon{padding-top: 7px; margin-left: 5px;}
  }
  .balance{margin-top: 5px;}
  .text{
    padding: 8px 0 5px;
    line-height: 20px;
  }
  .progress{
    background: #161037;
  }
  .note{
    margin-bottom: 7px;
    color: #BF5EFF;
  }
  h5{margin-bottom: 4px;}
  .close{
    width: 17px; height: 17px;
    background: url("#{$img-path}/icon-close.svg") no-repeat 0 0/contain;
    position: absolute; top: 13px; right: 14px; opacity: 1;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3D3956;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: #7A778D;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #1A133F;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1A133F;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.slider.round {
  border-radius: 9px;
}
.slider.round:before {
  border-radius: 50%;
}

//footer
footer{
  padding: 105px 0 88px;
  background: url("#{$img-path}/bg-footer.svg") 50% 0;
  .logo{
    display: block; width: 604px; margin: 98px auto;
    img{width: 100%;}
  }
  .social{
    justify-content: center;
    >*+*{margin-left: 80px;}
    a{height: 35px;}
    .twitter{width: 43px;}
    .telegram{width: 43px;}
    .discord{width: 47px;}
    .youtube{width: 50px;}
  }
}

//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.w-full{width: 100% !important;}
.w-48{width: 48%;}
.w-70{width: 70%;}
.w-30{width: 30%;}
.text-justify{text-align: justify;}
.justify-end{justify-content: flex-end;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-21{margin-bottom: 21px;}
.mb-30{margin-bottom: 30px;}
.mt-20{margin-top: 20px;}
.my-22{margin-top: 22px; margin-bottom: 22px;}
.my-5{margin-top: 5px; margin-bottom: 5px;}
.mt-20-r{margin-top: -20px;}
.px-32{padding: 0 32px;}
.px-25{padding: 0 25px;}
.px-21{padding: 0 21px;}
.social{
  a{display: block; font-size: 0;}
  a:hover{-webkit-filter: saturate(1.6);}
  .twitter{background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
  .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .discord{background: url("#{$img-path}/Discord.svg") no-repeat 0 0/contain;}
  .doc{background: url("#{$img-path}/doc.svg") no-repeat 0 0/contain;}
  .youtube{background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
}
.box-select.br-gr{
  border-radius: 9px;
  .select::after{right: 17px; top: 19px;}
  select{width: 100%; height: 41px; border-radius: 9px;}
}
.select{
  background: #30285C;
  border-radius: 9px;
  &--dark{background: #0A0527;}
  &::after{
    content: "";
    width: 11px; height: 7px;
    background: url('#{$img-path}/arrow-down.svg') no-repeat;
    position: absolute;
  }
  select{
    -webkit-appearance: none;
    padding: 3px 26px 3px 10px;
    border: none;
    background: none;
    color: #fff;
    line-height: 20px;
    position: relative; z-index: 2;
    &:focus{outline: none; box-shadow: none;} 
    option{padding: 5px; color: #000;}
  }
}

.list-text{
  >*+*{margin-top: 30px;}
  li{padding-left: 32px; position: relative;}
  li::before{
    content: "";
    width: 4px; height: 4px;
    background: #fff;
    border-radius: 50%;
    position: absolute; top: 14px; left: 10px;
  }
}
.title{
  margin-bottom: 10px;
  font: 48px/60px 'Russo One', sans-serif;
  color: #fff;
  span{color: var(--orange);}
}
.center{text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-s{font-size: 12px; line-height: 20px;}
.txt-xs{font-size: 14px; line-height: 20px;}
.txt-sm{font-size: 18px; line-height: 27px;}
.txt-md{font-size: 20px; line-height: 24px; font-weight: 700;}
.txt-md-r{font-size: 20px; line-height: 30px;}
.txt-lg{font-size: 24px; line-height: 24px; font-weight: 700;}
.txt-lg-r{font-size: 24px; line-height: 32px;}
.txt-xl{font: 32px/42px 'Russo One', sans-serif;}
.text-violet{color: var(--violet);}
button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.txt-gradient{
  background: linear-gradient(90deg, #DFAFFF 0%, #4A93FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-gr{
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.bg-gradient{
  background: linear-gradient(90deg, rgba(161, 66, 234, 0.3) 0%, rgba(52, 21, 232, 0.3) 100%);
  border-radius: 9px;
}
.bg-gr{
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  border-radius: 9999px;
  font-weight: 700;
  color: #fff;
}
.bg-r-1{
  padding: 12px;
  background: #1A133F;
  border-radius: 20px;
}
.bg-r-2{
  padding: 12px;
  background: #28214E;
  border-radius: 20px;
}
.btn-copy{
  width: 15px; height: 15px;
  background: url("#{$img-path}/icon-copy.svg") no-repeat 0 0/contain;
  font-size: 0;
  &:hover{-webkit-filter: saturate(1.8);}
}
.btn-pr{
  display: inline-block;
  height: 40px;
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  border-radius: 3px;
  color: #fff;
  letter-spacing: -0.015em;
  font-weight: 700;
  text-transform: uppercase;
  &:hover{background: linear-gradient(90deg, #b85bff 0%, #5226fd 100%); color: #fff;}
}
.btn-sub{
  padding: 8px 0;
  background: #3D3956;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 3px;
  color: #7A778D;
  &:hover{background: #332f4a;}
}
.btn-hover:hover{@include hover;}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}
.btn-tranfer{
  .icon{width: 31px; height: 22px; display: block; background: url("#{$img-path}/icon-tranfer.svg") no-repeat 0 0/contain;}
  &:hover{@include hover;}
}
.btn-tranfer-h{
  width: 22px; height: 31px;
  margin: 30px 0 6px;
  background: url("#{$img-path}/icon-tranfer-1.svg") no-repeat 0 0/contain;
  &:hover{@include hover;}
}
.icon-arrow{
  width: 11px; height: 7px;
  background: url('#{$img-path}/arrow-down.svg') no-repeat;
}
.icon-arrow-down{
  width: 16px; height: 18px;
  background: url("#{$img-path}/icon-arrow-down.svg") no-repeat;
}

.box-progress{
  input[type="range"] {height: 21px; border-radius: 9999px; position: relative;}
  input[type="range"]::-webkit-slider-thumb {width: 21px; height: 21px; border-radius: 9999px;}
  .na{height: 21px; position: absolute; bottom: 6px; left: 45%; z-index: 9;}
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #28214E;
  border-radius: 9px;
  background-image: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  background-size: 3% 100%;
  background-repeat: no-repeat;
  position: relative; z-index: 2;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(90deg, #BF5EFF 0%, #5E36FF 100%);
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#range1 {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

#range1::-webkit-slider-runnable-track {
  height: 21px;
  background: #28214E;
  border-radius: 9999px;
}

#range1::-moz-range-track {
  height: 21px;
  background: #28214E;
  border-radius: 9999px;
}

#range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 21px;
  width: 21px;
  
  border-radius: 50%;
 
  box-shadow: -407px 0 0 400px #BF5EFF;
}

#range1::-moz-range-thumb {
  height: 21px;
  width: 21px;
  
  border-radius: 50%;
  
  box-shadow: -407px 0 0 400px #BF5EFF;
}


@media (min-width: 1440px) {
  .container{max-width: 1304px;}
  .upfront-pages{
    .page-layout.xl{max-width: 1274px;}
  }
}
@media (max-width: 1440px){
  .navbar{
    .logo{width: 200px;}
  }
  .navbar-nav{
    margin-left: 0;
    > li > a{min-width: 120px; font-size: 18px;}
  }
  .upfront-frame1{
    padding: 100px 0;
    &::after{height: 793px;}
    .social{
      margin-bottom: 45px;
      >*+*{margin-left: 40px;}
    }
    .text{font-size: 31px; line-height: 38px;}
    .img-wrapper{
      max-width: 460px; margin: 0 0 0 auto;
      .light{width: 740px; height: 376px; top: 163px; left: -110px;}
    }
    .clock{
      width: 240px; height: 240px; top: 112px; left: 110px;
      &__short{width: 88px; height: 88px; top: 38px; left: 119px;}
      &__long{width: 82px; height: 82px; top: 41px; left: 118px}
    }
    .btn-join{padding: 15px 20px;}
  }
  .upfront-frame2{
    padding: 100px 0;
  }
  .upfront-frame3{
    padding-bottom: 100px;
    .header{margin-bottom: 60px;}
    .text{max-width: 520px;}
  }
  .upfront-frame5{
    padding: 100px 0;
  }
  .upfront-frame6{
    padding-bottom: 110px;
    .text{padding: 0 0 0 24px;}
    .number{width: 92px; height: 92px; font-size: 60px; line-height: 72px;}
    .img-wrapper{
      margin-top: 0;
      .img{
        &--1{width: 37%;}
        &--2{width: 66%; left: 21%; top: 183px;}
        &--3{width: 30%;}
      }
    }
    .btn-pr{width: 345px; height: 55px;}
  }
  .upfront-frame7{
    .header{max-width: 1020px; margin:0 auto 60px;}
    h3{font-size: 26px; line-height: 38px;}
  }
  .upfront-frame8{
    .header{max-width: 1020px;}
  }
  .reward,.vote{
    .note{width: auto; font-size: 13px;}
    .box-select{
      select{width: 180px;}
      p{padding: 0 15px;}
    }
  }
  
  footer{
    .logo{width: 500px; margin: 80px auto;}
    .social >*+*{margin-left: 60px;}
  }
  .title{font-size: 42px; line-height: 52px;}
  .txt-lg{font-size: 22px;}
  .txt-lg-r{font-size: 22px; line-height: 30px;}
  .txt-xl{font: 28px/36px 'Russo One', sans-serif;}
  .txt-md-r,.txt-md{font-size: 18px; line-height: 27px;}
}
@media (max-width: 1200px) {
  header{
    .btn-pr{padding: 0 15px;}
  }
  .navbar-nav{
    >*+*{margin-left: 30px;}
    > li > a{min-width: inherit;}
  }
  .container{max-width: 100%;}
}

@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .btn-pr{padding: 0 10px;}
    .btn-connect{
      margin-right: 32px;
      height: 34px;
      padding: 0 5px;
      font-size: 15px;
    }
  }
  .navbar{
    width: 100%; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    justify-content: flex-start;
    position: fixed; top: 73px; left: -100%;
    width: 100%; height: calc(100% - 73px);
    padding: 15px;
    background: #000;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 22px;
    height: 18px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 14px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 22px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -8px;}
    span:after{bottom: -8px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 22px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    >*+*{margin: 20px 0 0;}
    > li > a{line-height: inherit;}
    a{text-align: center; font-size: 16px;}
    > li:hover .sub-menu{display: block;}
    .sub-menu{
      display: none;
      position: relative; left: 0;
      width: 90%; margin: 0 auto;
      transition: .3s;
      li{text-align: center;}
      a{font-size: 18px;}
    }
  }
  main{padding-top: 74px; overflow: hidden;}
  .upfront-frame6{
    .img-wrapper{
      .img{
        &--2{top: 156px;}
      }
    }
  }
  .upfront-frame8{
    .logo a{margin: 10px 20px;}
  }
  .box-table{
    th{line-height: 1.2;}
    th,td{padding: 11px;}
  }
  .box-search{width: 44%;}
  .vote table{min-width: 800px;}
  .select-dropdown{
    max-width: 85vw; right: 0; left: inherit;
    .item-select{padding: 8px 15px;}
    .token{
      .txt-lg{line-height: 1.1;}
    }
  }

  .btn-gr--lg{
    >*+*{margin-left: 10px;}
    button{font-size: 20px; line-height: 30px;}
    button span{padding: 1px 10px;}
  }
  .txt-xl{font-size: 24px; line-height: 32px;}
}

@media (max-width: 980px) {
  .upfront-frame1{
    .text{
      font-size: 24px; line-height: 1.3;
      span{font-size: 26px; line-height: 1.3;}
    }
    .img-wrapper{
      max-width: 90%; margin: 0 auto;
      .light{width: 120%; left: -10%;}
    }
    .clock{
      width: 52%; height: 53%;
      top: 24%; left: 24%;
      &__short{width: 36%; height: 35.5%; top: 15%; left: 52%;}
      &__long{width: 36%; height: 36%; top: 16%; left: 48%;}
    }
  }
  .upfront-frame2{
    .bg-gradient{padding: 40px 12px;}
    .item{
      &__img{
        height: 170px; margin-bottom: 30px;
        img{max-width: 80%;}
      }
    }
  }
  .upfront-frame5{
    .col-lg-3{margin-bottom: 30px;}
  }
  .upfront-frame6{
    .row{flex-direction: column-reverse;}
    .img-wrapper{
      height: 70vw;
      .img{
        &--2{top: 36%;}
      }
    }
  }
  footer{
    .logo{width: 42vw; margin: 60px auto;}
    .social{
      > *+*{margin-left: 40px;}
      a{height: 30px;}
      .discord{width: 42px;}
      .twitter,.telegram{width: 37px;}
      .youtube{width: 43px;}
    }
  }
  .title{font-size: 38px; line-height: 1.3;}
  .txt-lg{font-size: 20px;}
}

@media (max-width: 767px) {
  .navbar{
    .logo{width: 165px;}
  }
  .navbar-collapse{top: 65px; height: calc(100% - 67px);}
  .upfront-frame1{
    padding: 60px 0;
    .row{flex-direction: column-reverse;}
    .text{font-size: 22px;}
    .social{
      >*+*{margin-left: 30px;}
      a{height: 26px;}
    }
    .img-wrapper{
      margin-bottom: 0px;
    }
    .btn-join{padding: 12px 18px;}
  }
  .upfront-frame2{
    padding: 60px 0;
    .item-list{
      padding: 0 5px; background: none;
      .item{
        margin: 0 auto 30px; padding: 30px 15px;
        background: linear-gradient(90deg, rgba(161, 66, 234, 0.3) 0%, rgba(52, 21, 232, 0.3) 100%);
        border-radius: 9px;
      }
    }
    .item{width: 100%;}
  }
  .upfront-frame3{
    padding-bottom: 60px;
    .row{flex-direction: column-reverse;}
    .header{margin-bottom: 30px;}
    .img-wrapper{margin-bottom: 40px;}
  }
  .upfront-frame4,.upfront-frame5,.upfront-frame7,.upfront-frame8{
    padding: 60px 0;
  }
  .upfront-frame5{
    .item{padding: 40px 24px 30px;}
  }
  .upfront-frame6{
    padding-bottom: 60px;
    .number{
      width: 82px; height: 82px; font-size: 50px; line-height: 1.3;
    }
    li{padding: 25px 0;}
    ul > *+*::before{left: 41px; height: 50px; top: -25px;}
    .btn-pr{width: 300px; height: 50px; margin-top: 30px;}
  }
  .upfront-frame7{
    .content{margin-top: 30px;}
    h3{font-size: 24px; line-height: 32px;}
  }
  .upfront-frame8{
    .header{margin-bottom: 30px;}
  }

  //category
  .upfront-pages{
    padding-top: 30px;
    min-height: 600px;
    &::before{top: 65px;}
    &::after{height: 450px;}
    .header{margin-bottom: 16px;}
    .btn-dropdown{height: 74px;}
    .btn-dropdown::after{height: 17px;}
    .page-layout.lg .item{padding: 0 15px;}
    .item{padding: 0 15px;}
    .bribe{padding: 20px 15px;}
    .box-btn--50{
      .btn-sub,a{max-width: 45%; margin: 0 2.5%;}
    }
    .bg-round{
      padding: 10px 15px;
      &--dark{padding: 20px 15px;}
      .col-left,.col-right{width: 50%; margin-bottom: 0;}
      .na{font-size: 22px; line-height: 32px;}
    }
    .box-tranfer{
      .col-left,.col-right{width: 50%;}
    }
    .box-btn--r{
      width: 100%;
      margin: 20px 0 0;
      justify-content: flex-start;
      button{width: 106px;}
    }
    .txt-md-r,.txt-md{font-size: 18px; line-height: 1.3;}
    .txt-lg,.txt-lg-r{font-size: 22px; line-height: 1.4;}
  }
  .dropdown-content{
    padding: 5px 15px 0;
    .btn-collect{width: 106px;}
    .col-left{margin-bottom: 30px;}
    .col-right,.col-left{width: 100%;}
  }
  .box-liquidity{
    .dropdown-content{padding: 15px 15px 30px;}
    .btn-gr--lg button{font-size: 17px; line-height: 24px;}
  }
  .box-vote{
    padding: 20px;
    .btn-pr{width: 160px;}
  }
  .box-tranfer{
    .to,.form{
      .bg-r-2{padding: 10px 15px 8px;}
    }
  }
  
  .box-radio{
    h5{margin-bottom: 10px;}
    .radio-btn{width: 100%;}
  }
  .box-search{width: 100%;}
  .btn-gr--lg,.btn-gr{
    >*+*{margin-left: 0;}
    margin: 0 -3px;
    button,.box-select{margin: 3px;}
  }
  .btn-gr--lg{
    button{font-size: 17px; line-height: 26px;}
  }
  .bg-br-gr{
    .content{padding: 16px;}
  }


  footer{
    padding: 60px 0;
    .logo{width: 280px;}
    .social{
      >*+*{margin-left: 30px;}
      a{height: 28px;}
    }
  }
  .w-48{
    width: 100%; margin-bottom: 30px;
    &:last-child{margin-bottom: 0;}
  }
  .px-32{padding: 0 15px;}
  .title{font-size: 34px;}
  .txt-xl{font-size: 22px; line-height: 1.3;}
  .txt-md,.txt-md-r{font-size: 16px; line-height: 1.3;}
  .txt-lg,.txt-lg-r{font-size: 18px; line-height: 26px;}
}
@media (max-width: 480px) {
  .upfront-pages{
    .staked{
      padding: 12px 15px 0;
      .box-select{padding: 9px;}
    }
    .select-stake{
      border-radius: 32px; padding: 13px;
      .coin .name{padding-left: 9px;}
    }
  }
  .dropdown-content{
    .token-list{
      .nav span:nth-child(1){margin-bottom: -2px;}
    }
  }
  .box-tranfer{padding: 20px 15px 45px;}
  .box-vote{
    padding: 20px;
    .btn-pr{width: 100%; margin-top: 20px;}
  }
  .liquidity{
    &__item > div{width: 100%;}
    .btn-active{margin: 15px 0 0;}
  }
}


//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}

@keyframes flash-clock {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.3);
    filter: saturate(1.3);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash-clock {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.3);
    filter: saturate(1.3);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash-clock{
  animation-name: flash-clock;
  -webkit-animation-name: flash-clock;
}

@keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);
  }
}
.rotate{
  animation: rotate;
  -webkit-animation-name: rotate;
}



